@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Common */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-inner-spin-button,
*::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.page {
  background-color: #f2f2f2;
  color: #333333;
  font-size: 18px;
}

.button {
  display: inline-block;
  padding: 9px 15px 8px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button-secondary {
  background-color: #756257;
}

.button-large {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 17px;
  border-radius: 10px;
}

.button-navigation-user {
  min-width: 160px;
}

.button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button.pagination-link:focus:not(:active) {
  background-color: rgba(104, 162, 202, 1);
  outline: 3px solid #756257;
}

.button:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-secondary.pagination-link:focus:not(:active) {
  outline: 3px solid #83b3d3;
  background-color: rgba(97, 80, 72, 1);
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(97, 80, 72, 1);
}

/* Header */

.page-header {
  color: #000000;
}

.logo {
  z-index: 1;
  display: block;
  height: 66px;
}

.inner-header {
  margin-bottom: 40px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;

  font-size: 16px;
  line-height: 21px;
  margin: 0;
  /* margin-top: 5px; */
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 26px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  fill: #ffffff;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  display: block;
  content: " ";
  width: 6px;
  height: 8px;
  position: absolute;
  left: -15px;
  top: calc(50% - 4px);
  background: url(/images/decorate/chevron-right.svg) no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  padding: 0;
  margin: 0;
}

/* Footer */

.page-footer {
  height: 120px;
  padding: 0 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-link {
  display: flex;
  min-width: 36px;
  min-height: 36px;
  justify-content: center;
  align-items: center;
  fill: #83b3d3;
  border-radius: 10px;
}

.social-link:hover {
  fill: #68a2ca;
}

.social-link:focus:not(:active) {
  fill: #68a2ca;
  outline: 3px solid #83b3d3;
  outline-offset: -2px;
}

.social-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 15px;
}

.contacts-phone:hover {
  color: #756257;
}
.contacts-phone:focus:not(:active) {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.contacts-phone:active {
  color: rgba(117, 98, 87, 0.3);
}

.academy-logo {
  padding: 15px;
}

.academy-logo:hover {
  fill: #756257;
}
.academy-logo:focus:not(:active) {
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.academy-logo:active {
  fill: rgba(117, 98, 87, 0.3);
}

/* Navigation */

.navigation {
  display: flex;
  width: 1060px;
  min-height: 66px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  width: 345px;
  list-style-type: none;
}

.navigation-user {
  width: 264px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
}

.navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 17px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.navigation-item-active {
  position: relative;
}

.navigation-item-active::after {
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 0;
  content: "";
  height: 2px;
  background-color: #756257;
}

.navigation-link:hover {
  color: #756257;
  fill: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-user-item:last-child {
  margin-left: 15px;
}

.favourites::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "12";
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-left: -5px;
  margin-bottom: 17px;
}

.favourites:active::after {
  color: rgba(255, 255, 255, 0.3);
}

/* Main */

.main-promo {
  background-repeat: no-repeat;
  background-image: url(/images/decorate/divider.svg),
    url(/images/decorate/welcome.svg), url(/images/background/main-promo.jpg);
  background-position: 50% 100%, 50% 51px;
  background-color: #83b3d3;
  min-height: 485px;
}

/* Section */

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 35px;
}

.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* Catalog filters */

.catalog-filter-group {
  width: 200px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-price .catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control {
  display: block;
  position: relative;
  padding-left: 39px;
}

.control-mark {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  margin-right: 19px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus:not(:active) .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  width: 12px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/images/decorate/checked.svg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #3f5e72;
  border-radius: 50%;
}

.catalog-filter-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 28px;
  width: 300px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-label {
  display: grid;
  grid-template-columns: 1fr 31px;
  align-items: center;
  border: 2px solid #ffffff;
}

.catalog-filter-label:nth-of-type(1) {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:nth-of-type(2) {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.catalog-filter-label:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-label:focus:not(:active) {
  box-shadow: 0px 0px 0px 3px #81b3d2;
  outline: 2px solid #83b3d3;
}

.catalog-filter-label:active {
  background-color: #756257;
}

.catalog-filter-input {
  grid-column: 1/-1;
  grid-row: 1/2;
  width: 100%;
  height: 48px;
  background-color: transparent;
  font: inherit;
  color: #ffffff;
  padding: 19px;
  border: none;
}

.range-scale {
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  grid-column: 1/-1;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-title {
  grid-column: 2/-1;
  grid-row: 1/2;
  opacity: 0.3;
}

.range-toggle {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus:not(:active) {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.catalog-filter-buttons {
  width: 160px;
  align-self: center;
  text-align: center;
}

.catalog-filter-submit {
  width: 160px;
  height: 48px;
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
}

.catalog-filter-clear {
  width: 100px;
  height: 23px;
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.catalog-filter-clear:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-clear:focus:not(:active) {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.catalog-filter-clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-clear:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-clear:focus:not(:active) {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.catalog-filter-clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.filters-form {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-header {
  background-image: url(/images/background/catalog-background.jpg);
  background-color: #83b3d3;
  background-size: cover;
  color: #ffffff;
  height: 408px;
  margin-bottom: 44px;
  padding: 35px 71px 83px;
}

.select-control > option {
  line-height: 23px;
  color: #333333;
}

/* Catalog */

.catalog {
  padding: 0 72px;
}

/* Catalog sort */

.found-hotels-sorting {
  display: grid;
  align-items: center;
  margin-bottom: 56px;
  /* grid-template-columns: 50% 1fr 160px; */
  grid-template-columns: 347px 287px 1fr;
  gap: 80px;
  padding: 0 71px;
}

.catalog-title {
  margin: 0;
}

.catalog-view {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: auto;
}

.catalog-select {
  width: 287px;
  height: 48px;
  z-index: 1;
  position: relative;
}

.select-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  list-style-type: none;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 19px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.select-button:hover {
  border: 2px solid #83b3d3;
}
.select-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.select-button::after {
  content: "";
  background: url(/images/decorate/select-arrow.svg) no-repeat 50% 50%;
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}

.select-menu {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.select-item:hover {
  background-color: #f2f2f2;
}

.select-item-active,
.select-item-active:hover {
  background-color: #e6e6e6;
}

.select-option {
  display: block;
  text-decoration: none;
  color: #333333;
  z-index: 1;
  padding: 8px 19px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background: no-repeat 50% 50%;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.view-link:hover,
.view-link.pagination-link:focus:not(:active) {
  border: 2px solid #83b3d3;
}

.view-item-active .view-link {
  border-color: #000000;
}

.view-link-cards {
  background-image: url(/images/decorate/view-cards.svg);
}

.view-link-slides {
  background-image: url(/images/decorate/view-slides.svg);
}

.view-link-list {
  background-image: url(/images/decorate/view-list.svg);
}

/* Cards */

.hotel-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 10px;
  padding-bottom: 34px;
  border-bottom: 2px solid #e6e6e6;
}

.hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 26px 1fr;
  row-gap: 16px;
  grid-template-areas:
    "link link link"
    "description description description"
    "button-more . button-choose"
    "stars rate rate";
}

.hotel-card-img {
  margin: 0;
  margin-bottom: 16px;
  /* width: 100%;
  height: 100%; */
  object-fit: fill;
}

.hotel-title {
  margin: 0;
}

.hotel-card-link {
  grid-area: link;
  text-decoration: none;
  font-size: 24px;
  color: #000000;
}

.card-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin: 0;
  grid-area: description;
  line-height: 23px;
  color: #333333;
}

.hotel-card > .button {
  grid-area: button-choose;
  /* width: 133px; */
  height: 37px;
}

.hotel-card > .button-secondary {
  grid-area: button-more;
}

.card-rate {
  grid-area: rate;
  background-color: #f2f2f2;
  border-radius: 4px;
  min-width: 160px;
  justify-self: end;
  text-align: center;
  margin: 0;
  padding: 9px 8px 7px;
  text-transform: uppercase;
}

.card-button-active {
  background-color: #7db54f;
}

.star {
  grid-area: stars;
  margin: 0;
  background-image: url(/images/decorate/star.svg);
  background-repeat: repeat-x;
  min-height: 37px;
  background-size: 23px 17px;
  background-position: 0 50%;
}

.star-1 {
  width: 23px;
}

.star-2 {
  width: 46px;
}

.star-3 {
  width: 69px;
}

.star-4 {
  width: 92px;
}

.star-5 {
  width: 115px;
}

/* Advantages */
.advantages {
  text-align: center;
}

.advantages-content {
  padding: 63px 240px 86px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(auto-fill, 384px); */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list-inner {
  grid-column: 1/-1;
  background-color: #ffffff;
  color: #333333;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  counter-increment: advantages;
}

.advantages-inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-inner .advantages-inner-item:nth-child(even) {
  background-color: #ffffff;
}

.advantages-list-inner .advantages-inner-item:nth-child(1)::before {
  content: " ";
  display: block;
  background-image: url(/images/decorate/housing.svg);
  margin-bottom: 23px;
  width: 75px;
  height: 72px;
}

.advantages-list-inner .advantages-inner-item:nth-child(2)::before {
  content: " ";
  display: block;
  background-image: url(/images/decorate/food.svg);
  margin-bottom: 23px;
  width: 74px;
  height: 70px;
}

.advantages-list-inner .advantages-inner-item:nth-child(3)::before {
  content: " ";
  display: block;
  background-image: url(/images/decorate/souvenirs.svg);
  margin-bottom: 23px;
  width: 64px;
  height: 76px;
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-inner .advantages-item:nth-child(even) {
  background-color: #ffffff;
}

.advantages-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-item .advantages-text {
  width: 250px;
}

.advantages-item-large {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  padding: 0;
  background-color: #83b3d3;
  color: #ffffff;
  width: 100%;
}

.advantages-item-large .advantages-title {
  color: #ffffff;
}

.advantages-inner-item .advantages-title {
  color: #000000;
}

.advantages-description .advantages-title {
  order: -1;
}

.advantages-description {
  display: grid;
  align-content: start;
  gap: 26px;
  min-height: 384px;
  padding: 60px;
  padding-top: 98px;
}

.advantages-description::before {
  content: "— №" counter(advantages) " —";
}

.advantages-img {
  grid-column: span 2;
  /* height: 0;
  min-height: 100%; */
  /* width: 100%; */
}

.advantages-item-large:nth-child(2) > .advantages-img {
  order: -1;
}

/* Search */

.search {
  padding: 91px 240px 93px;
  text-align: center;
}

.search-button {
  margin-top: 56px;
  width: 575px;
}

/* Pagination */

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 30px;
}

.pagination-nav {
  display: flex;
  width: 100%;
  padding-top: 30px;
  border-top: 2px solid #e6e6e6;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 14px;
  border-radius: 4px;
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link.pagination-link:focus:not(:active):not(:active) {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current .pagination-link {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-select {
  display: flex;
  color: #333333;
  margin-left: auto;
  gap: 26px;
}

.pagination-select > .select {
  margin: auto 0;
}

.pagination-button {
  min-width: 620px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.pagination-select {
  height: 48px;
  min-width: 160px;
  z-index: 1;
  position: relative;
}

/* Subscribe */

.subscribe {
  padding: 73px 240px 141px;
  text-align: center;
}

.subscribe-primary .section-title {
  color: #ffffff;
}

.subscribe-primary {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url(/images/background/background.jpg);
  background-size: cover;
}

.subscribe:not(.subscribe-primary) > p {
  color: #333333;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-top: 46px;
}

.subscribe-button {
  border-radius: 0 10px 10px 0;
}

.subscribe-form .field-input {
  border-radius: 10px 0 0 10px;
  height: 60px;
}

.field-input {
  width: 100%;
  font-size: 18px;
  font-family: inherit;
  border-radius: 4px;
  padding: 8px 20px;
  border: 2px solid transparent;
  background-color: #f2f2f2;
}

.field-input.pagination-link:focus:not(:active) {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-input:hover {
  background-color: #e6e6e6;
}

/* Modal window */

.modal-container {
  display: flex;
  position: fixed;
  background-color: rgba(242, 242, 242, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  width: 715px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 74px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-close-button::after {
  position: absolute;
  transform: translate(-50%, -50%);
  content: "";
  width: 50px;
  height: 50px;
  background: url(/images/decorate/cross.svg) no-repeat 50% 50%;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus:not(:active) {
  background-color: #e6e6e6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active::after {
  opacity: 0.3;
}


.popover-title {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
}

.field-title {
  font-weight: 700;
  line-height: 40px;
  align-self: center;
}

.field-title-info {
  display: flex;
  margin-left: 56px;
  align-items: center;
  justify-content: flex-end;
}

.field-info {
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 18px;
  border-radius: 50%;
  background: 50% 50% no-repeat #83b3d3;
  background-image: url(/images/decorate/info.svg);
}

.field-info:hover .info-text,
.field-info:focus .info-text {
  display: block;
}

.info-text {
  display: none;
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translateX(50%);

  width: 256px;
  height: 143px;
  z-index: 1;

  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.info-text::before {
  content: "";
  background-image: url(/images/decorate/triangle.svg);
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
}

.info-text::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 25px;
}

.search-form-date {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 155px 1fr;
  grid-template-rows: 50px;
}

.search-form-amount {
  display: grid;
  grid-template-columns: 155px 133px;
}

.search-input {
  font: inherit;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  padding: 5px 19px;
}

.number {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
}

.number-button {
  display: grid;
  place-content: center;

  border: none;
  background-color: transparent;
  grid-row: 1/-1;
  z-index: 1;
  cursor: pointer;
}

.number-button::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 4px;
  opacity: 0.3;
}

.number-button:hover::after {
  opacity: 1;
}

.number-button:focus:not(:active)::after {
  opacity: 1;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.number-button:active::after {
  opacity: 0.3;
}

.number-input {
  border: none;
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 50px;
  padding: 0 50px;
  background-color: #f2f2f2;
  font: inherit;
  font-weight: 700;
  text-align: center;
}
.number-minus {
  grid-column: 1/2;
}

.number-minus::after {
  background: url(/images/decorate/minus.svg) 50% 50% no-repeat;
}

.number-plus {
  grid-column: -1/-2;
}

.number-plus::after {
  background: url(/images/decorate/plus.svg) 50% 50% no-repeat;
}

.search-description {
  grid-column: 2/3;
  font-size: 16px;
}

.search-error {
  color: #ff5757;
}

.modal-book-button {
  grid-column: 1/-1;
}
